@font-face {
    font-family: "Emberly";
    src: url("https://github.com/mannu-rgb/manuelpallares/blob/dd42596aef18e9c43c5d9df0a3217d7e764c7ddf/fonts/Emberly/Emberly%20v1.3/WOFF/Emberly-Medium.woff");
    }
    @font-face {
        font-family: "IBM-Plex-Sans";
        src: url("https://github.com/mannu-rgb/manuelpallares/blob/dd42596aef18e9c43c5d9df0a3217d7e764c7ddf/fonts/IBM-Plex/IBMPlexSans-ExtraLightItalic.ttf");
        }
    